<section class="tasks-list d-flex flex-column align-items-center">
  <h1 class="font-medium mb-2">
    Angular Playground - Projeto de introdução
  </h1>
  <h3 class="font-regular">
    Lista de tarefas a serem implementadas:
  </h3>

  <article class="tasks-list__activities mt-4 w-50">
    <ul class="w-100">
      <li class="mb-2">
        <input class="me-3" type="checkbox" name="task" id="task">
        <label for="task">Atividade 1</label>
      </li>
      <li class="mb-2">
        <input class="me-3" type="checkbox" name="task" id="task">
        <label for="task">Atividade 1</label>
      </li>
      <li class="mb-2">
        <input class="me-3" type="checkbox" name="task" id="task">
        <label for="task">Atividade 1</label>
      </li>
      <li class="mb-2">
        <input class="me-3" type="checkbox" name="task" id="task">
        <label for="task">Atividade 1</label>
      </li>
    </ul>
  </article>
</section>
