<section class="tasks-list d-flex flex-column align-items-center">
  <div class="row">
    <div class="col-12">
      <h1 class="font-medium mb-2">
        Angular Playground - Projeto de introdução
      </h1>
      <h2>
        O objetivo deste projeto é propor desafios para introduzir o dev à stack de tecnologias utilizadas no desenvolvimento front-end como Angular, TypeScript, RxJS, NgRx, SASS e Bootstrap e exercitar o desenvolvimento de soluções.
      </h2>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <div class="tasks-list__description">
        <p class="font-medium mb-2">Descrição do desafio:</p>

        <p>O desafio consiste em criar uma página que consulte a API do Github para listar todos os repositórios públicos da globo.com e, ao clicar em um repositório, listar algumas informações do repositório como nº de stars, forks e lista de commits.</p>

        <p class="font-medium mb-2 mt-4">Regras para o desenvolvimento:</p>
        <div class="tasks-list__description__rules">
          <ng-container *ngTemplateOutlet="itemsList; context: { $implicit: rules }"></ng-container>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-4 mt-md-0">
      <div class="tasks-list__orientations">
        <p class="font-medium mb-2">Orientações:</p>

        <div class="tasks-list__orientations__list">
          <ng-container *ngTemplateOutlet="itemsList; context: { $implicit: orientations }"></ng-container>
        </div>
      </div>

      <div class="tasks-list__resources mt-4">
        <p class="font-medium mb-2">Recursos:</p>

        <div class="tasks-list__resources__list">
          <ng-container *ngTemplateOutlet="itemsList; context: { $implicit: resources }"></ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #itemsList let-rules>
  <ul class="items-list">
    <li *ngFor="let rule of rules">
      {{ rule.desc }}

      <ng-container *ngIf="rule.sub">
        <ng-container *ngTemplateOutlet="itemsList; context: { $implicit: rule.sub }"></ng-container>
      </ng-container>
    </li>
  </ul>
</ng-template>
