@import '/src/assets/sass/variables/variables';

:host {
  margin-top: auto;

  footer {
    height: $footer-height;

    background: white;

    border-top: 1px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
    }
  }
}
