@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  color: #2d3436;
}

.font-light {
  font-weight: 100;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}
